<div class="main" *ngIf="notRouted == true">
  <div class="app-container">
    <div class="nav">
      <div class="nav-item">
        <button [routerLink]="['/signin']" (click)="login()">Sign in</button>
      </div>
      <div class="nav-item">
        <button [routerLink]="['/register']" (click)="register()">
          Register
        </button>
      </div>
    </div>
    <div class="myName">
      Abhinav <br />
      Bhardwaj
    </div>
  </div>
  <div class="contentText"><h1>Landing Page of My Portfolio</h1></div>
</div>
<div *ngIf="notRouted == false">
  <router-outlet></router-outlet>
</div>
